#puzzle-container {
	width: 400px;
	height: 400px;
	border: 1px solid red;
	position: relative;
}
.puzzle-item {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	background-color: white;
}